body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Marcellus;
    background-image: url("worldmap.jpg");
    background-repeat: repeat;
    background-size: cover    
}


h1{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    color: white;
}



#fillincountry{
    display:flex;
    align-items:center ;
    justify-content: space-around;
    padding-left: 12vh;
    padding-bottom: 10vh;   
}

#gridcountry{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4vh;
}

#filtercountries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 4vh; 
}


#filterbycountry{
    display:flex;
    align-items:center ;
    justify-content: space-around;    
}

#showallcountries{
    display: flex;
    justify-content: center;  
}

#buttonaddcountry{
    padding: 3vh;
    display: flex;
    justify-content: center;
  
}

#container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-color: ghostwhite;
    position: relative;
    top: 5vh;
    border: ghostwhite solid 30px;   
}


#tabell{
    padding-top: 8vh;
    border-bottom: 1px solid #aaa;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

#tabell > div{
    display: flex;
    justify-content: space-between;   
}

.country{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
    padding-bottom: 3vh ;
    padding-top: 3vh;    
}

.country > div{
    display: flex;
    justify-content: space-between;
}

button{
    border: 0.5px solid black;
    color: black;
    padding: 0.5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Marcellus;
  }

input{
    font-family: Marcellus;
}

ol{
    padding: 0px;
}




